body {
    background-color: #ffffff;
    color: #000000;
}

.book-list a, a:hover, a:visited {
    color: inherit; 
    text-decoration: inherit; 
}

.book-detail a, a:hover, a:visited {
    color: inherit; 
    text-decoration: inherit; 
}

.card {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-img-top {
    width: 100%; 
    height: 200px;
    border-style: solid;
}

.card-body {
    border-style: solid;
}

.card-title {
    border-style: solid;
}

.card-text {
    border-style: solid;
}

.book-list {
    border-style: solid;
    margin-bottom: 30px;
}

.title {
    margin-top: 30px;
    border-style: solid;
}

.debug-target {
    border-style: solid;
    background-color: gold;
}

.book-detail {
    border-style: solid;
    
}

img {
    border-style: solid;
}
