{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row" style="border-style: solid;">
        <div class="col ">
            <h1>Checkout</h1>
        </div>
        <div class="col-2 my-auto">
            <form class="spacer" action="{% url 'make_payment' %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Make Payment" />
            </form>
        </div>
    </div>

    {% for order in orders %}
    <div class=" row" style="border-style: solid;">
        <div class="col-3">
            <img class="card-img-top" src="{{ order.product.image.url }}" alt="{{ order.product.image.url }}">
        </div>
        <div class="col-7 d-flex flex-col align-items-center">
            <table>
                <tr>
                    <td>Title:</td>
                    <td>{{ order.product.title }}</td>
                </tr>
                <tr>
                    <td>Cost:</td>
                    <td>SGD ${{ order.product.price }}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ order.get_status_display | title }}</td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td>{{ order.quantity }}</td>
                </tr>
                <tr>
                    <td>Created order:</td>
                    <td>{{ order.creation_datetime }}</td>
                </tr>
                <tr>
                    <td>Last update:</td>
                    <td>{{ order.modification_datetime }}</td>
                </tr>
            </table>
        </div>

        <div class="col-2 mt-auto">
            <p> Sub-total: SGD${{ order.get_total_cost }}</p>
        </div>

    </div>
    {% endfor %}
    <div class="row justify-content-end align-items-end" style="border-style: solid; height:50px">
        <div class="col-2">
            <p>Total : {{ total }}</p>
        </div>
    </div>

</div>

{% endblock content %}